.ticket a:before {
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    color: #41362f;
    font-size: 2rem;
}

.ticket a:hover{
    text-decoration: none;
}

.ticket{
    float: right;
    margin-right: -.3rem;
    position: relative;
    z-index: 480;
    padding: 0.75rem 1.4rem 0.55rem;
}
