@icons-fontello__font-name: 'Fontello Icons';
@icons-fontello__file-name: 'core';
@icons-fontello__font-name-path: '@{baseDir}Shinesoftware_Core/fonts/fontello/@{icons-fontello__file-name}';
@icon-fontello__content: '\f108';
