<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="ticket">
    <a target="_blank" href="https://shinesoftware.it/customer/account/login" title="<?php echo __('Open a new Shine Software Ticket') ?>"></a>
</div>
